# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled styles
/src/**/*.css

# dependencies
/node_modules

# testing
/coverage

# production
/build

# ssmenv
/.ssmenv/private.json

# misc
.DS_Store
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
