// COLORS
$dark-grey: #666;
$black: #000;
$white: #fff;
$light-white: #fbfbfb;
$dark-red: #ae3838;
$light-red: #e04242;
$dark-blue: #193770;
$light-peach: #fff5f5;
$light-grey: #f3f3f3;
$dark-orange-light: #ff9552;
$dark-orange: #ff8c4d;
$red: $dark-red;
$blue: $dark-blue;

$iphone5-min: 320px;
$iphone5-max: 568px;

$iphone6: 420px;

$ipad-min: 768px;
$ipad-max: 1024px;

@mixin fadeIn($time, $delay) {
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  -webkit-animation: fadeIn ease-in $time;
  -moz-animation: fadeIn ease-in $time;
  animation: fadeIn ease-in $time;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: $time;
  -moz-animation-duration: $time;
  animation-duration: $time;
  animation-delay: $delay;
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
}

@mixin shakeError($time) {
  @keyframes kf_shake {
    0% {
      transform: translate(30px);
    }
    20% {
      transform: translate(-30px);
    }
    40% {
      transform: translate(15px);
    }
    60% {
      transform: translate(-15px);
    }
    80% {
      transform: translate(8px);
    }
    100% {
      transform: translate(0px);
    }
  }

  animation: kf_shake 0.4s 1 linear;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
