@import 'variables';
@import 'globals';

.arrowDown {
	width: 52px;
	height: 0;
	padding-bottom: 50px;
	border-radius: 50%;
	background: inherit;
	position: relative;
	display: block;
	margin: 0 auto;
	cursor: pointer;
	border: 3px solid $black;
	z-index: 3;
	@include transition(0.2s);

	@media screen and (max-width: $iphone6) {
		width: 30px;
		padding-bottom: 30px;
	}

	&.hide {
		display: none;
	}

	&:before {
		font-family: FontAwesome;
		font-weight: normal;
		content: '\f107';
		display: block;
		font-size: 2.5em;
		color: $black;
		position: absolute;
		top: 4%;
		left: 30%;

		@media screen and (max-width: $iphone6) {
			font-size: 1.5em;
		}
	}

	&:hover {
		background-color: $black;
		@include transition(0.2s);

		&:before {
			color: $white;
		}
	}

	&.spacing {
		margin-top: 5vh;
		width: 58px;

		@media screen and (max-width: $iphone6) {
			margin-top: 3vh;
			width: 38px;
		}

		&:before {
			@media screen and (max-width: $iphone6) {
				font-size: 1.7em;
			}
			top: 5%;
		}
	}

	&.nav-arrow {
		margin-top: 10vh;
	}
}
