@import 'variables';
@import 'globals';

.arrowDown {
	width: 50px;
	height: 0;
	padding-bottom: 50px;
	border-radius: 50%;
	background: inherit;
	position: relative;
	margin: 0 auto;
	cursor: pointer;
	border: 3px solid $black;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	@include transition(0.2s);

	@media screen and (max-width: $iphone6) {
		width: 30px;
		padding-bottom: 30px;
	}

	@media only screen 
  	and (min-device-width: 768px) 
  	and (max-device-width: 1024px) 
  	and (orientation: landscape) 
  	and (-webkit-min-device-pixel-ratio: 1) {
    	width: 46px;
    	padding-bottom: 44px;
  	}

	&.hide {
		display: none;
	}

	&.sticky {
		position: fixed;
		bottom: 50px;
		left: 0;
		right: 0;
	}

	&:before {
		position: relative;
		font-family: FontAwesome;
		font-weight: normal;
		content: '\f107';
		font-size: 2.5em;
		height: 10px;
		margin-top: 32%;
		color: $black;

		@media screen and (max-width: $iphone6) {
			font-size: 1.5em;
		}

		@media only screen 
  		and (min-device-width: 768px) 
  		and (max-device-width: 1024px) 
  		and (orientation: landscape) 
  		and (-webkit-min-device-pixel-ratio: 1) {
    		top: -1%;
    		left: 28%;
  		}
	}

	&:hover {
		background-color: $black;
		@include transition(0.2s);

		&:before {
			color: $white;
		}
	}

	&.spacing {
		margin-top: 3%;
		width: 58px;
		padding-bottom: 48px;

		@media screen and (max-width: $iphone6) {
			margin-top: 8%;
			width: 38px;
		}

		@media screen and (max-width: $iphone5-min) {
      		margin-top: 5%;
    	}

		&:before {
			margin-top: 0;
			
			@media screen and (max-width: $iphone6) {
				font-size: 1.7em;
				left: 28%;
				margin-top: -2%;
			}

  			@media only screen 
  			and (min-device-width: 768px) 
  			and (max-device-width: 1024px) 
  			and (orientation: landscape) 
  			and (-webkit-min-device-pixel-ratio: 1) {
    			top: 0;
  			}
		}

		@media only screen 
  		and (min-device-width: 768px) 
  		and (max-device-width: 1024px) 
  		and (orientation: portrait) 
  		and (-webkit-min-device-pixel-ratio: 1) {
    		margin-top: 5%;
  		}

  		@media only screen 
  		and (min-device-width: 768px) 
  		and (max-device-width: 1024px) 
  		and (orientation: landscape) 
  		and (-webkit-min-device-pixel-ratio: 1) {
    		width: 54px;
  		}
	}

	&.nav-arrow {
		margin-top: 3%;

		@media screen and (max-width: $iphone5-min) {
      		margin-top: -4%;
    	}

		@media only screen 
  		and (min-device-width: 768px) 
  		and (max-device-width: 1024px) 
  		and (orientation: landscape) 
  		and (-webkit-min-device-pixel-ratio: 1) {
    		margin-top: 0;
  		}
	}
}
