@import 'variables';

.button {
  border: 3px solid $black;
  padding: 12px;
  width: 200px;
  background-color: inherit;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: $black;

  &:hover {
  	background-color: $black;
  	color: $white;
  }
}