@import 'variables';

.button {
  border: 3px solid $black;
  padding: 12px;
  width: 220px;
  background-color: inherit;
  margin-bottom: 10px;
  font-weight: bold;
  color: $black;
  position: relative;
  z-index: 3;

  @media screen and (max-width: $iphone6) {
    padding: 10px;
    font-size: 0.8em;
  }

  .text {
    text-transform: uppercase;
  }

  &:hover {
  	background-color: $black;
  	color: $white;
  }

  &.hide {
    display: none;
  }

  &.nav {
    width: 300px;
    margin: 0 auto;
    display: block;
    background-color: $light-yellow;
    padding: 20px;
    margin-bottom: 60px;
    font-size: 1.3em;

    &:first-of-type {
      margin-top: 12%;
      @media screen and (max-width: $iphone6) {
        margin-top: 30%;
      }

      @media only screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1024px) 
      and (orientation: portrait) 
      and (-webkit-min-device-pixel-ratio: 1) {
        margin-top: 28%;
      }
    }

    @media screen and (max-width: $iphone6) {
      width: 220px;
      margin-bottom: 30px;
      padding: 15px;
      font-size: 0.8em;
    }

    &:hover {
      background-color: $black;

      a {
        color: $white;
      }
    }
  }
}

.secondary {
  font-size: 11px;

  @media screen and (max-width: $iphone6) {
    font-size: 0.8em;
  }
}

