@import 'variables';

.circle {
	width: 25%;
  height: 0;
  position: relative;
  padding: 12.5% 0;
	margin: 0 auto;
	margin-bottom: 3vh;
	border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: $light-green;
  align-content: center;
	border: 4px solid $black;
  z-index: 2;

  @media screen and (max-width: $iphone6) {
    width: 70%;
    padding: 35% 0;
  }

  &.one {
    @media screen and (max-width: $iphone6) {
      margin-top: 8vh;
    }
  }

	.description {
		position: relative;
    width: 50%;
    line-height: 1.4;
    margin-top: 5%;
    align-self: center;
		text-align: center;
		font-weight: bold;
		font-size: 2em;

    @media screen and (max-width: $iphone6) {
      font-size: 1.25em;
      width: 60%;
    }
	}

  &.wide {
    background-color: $light-orange;
    .description {
      width: 80%;
    }
  }

  &.wider {
    background-color: $light-purple;
  	.description {
  		width: 75%;
      font-size: 1.2em;
  	}
  }
}
