@import 'variables';

.member-wrapper {
	width: 90%;
	margin: 0 auto;
  margin-top: 30px;
	position: relative;

	@media screen and (max-width: $iphone6) {
		width: 95%;
    margin-top: 20px;
	}

	@media only screen
  and (min-width: 421px)
  and (max-width: 799px) {
    width: 95%;
  }

	@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    width: 65%;
  }

  @media screen and (max-width: 1280px) {
    margin-top: 20px;
  }

  @media screen and (max-width: 1370px) {
    margin-top: 20px;
  }
}

.member-container {
	width: 33%;
	display: inline-block;
  height: 200px;
  position: relative;

	@media screen and (max-device-width: 362px) {
    margin-top: -10px;
  }

	@media screen and (max-width: $iphone6)
	and (-webkit-min-device-pixel-ratio: 2) {
		width: 44%;
		margin-right: 2.25%;
		margin-left: 2.25%;
    height: 160px;
	}

  @media screen and (max-width: 1370px) {
    width: 30%;
    height: 190px;
  }
}

.member-name {
  width: 100%;

  @media screen and (max-width: $iphone6) {
    padding: 5px;
  }

  h2 {
    font-size: 1.2em;
    font-size: 1.1vw;
    margin-right: 5%;

    @media screen and (max-width: $iphone6) {
      margin-right: 5%;
      font-size: 0.8em;
    }

    @media only screen
    and (min-width: 421px)
    and (max-width: 799px) {
      font-size: 9px;
    }

    @media screen and (max-width: 361px) {
      font-size: 10px;
      margin-top: 0;
    }

    @media screen and (max-device-width: 413px) {
      font-size: 10px;
    }

    @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 1) {
      font-size: 1.1em;
    }
  }
}

.member-img {
  width: 55%;
  padding: 27.5% 0;

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    width: 40%;
    padding: 20% 0;
  }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    width: 40%;
    padding: 20% 0;
  }

  @media screen and (max-width: $iphone6) {
    width: 75%;
    padding: 37.5% 0;
    margin-bottom: 0;
  }

  @media screen
  and (min-width: 1000px)
  and (max-width: 1199px) {
    @media screen
    and (max-height: 550px) {
      margin-bottom: -5px;
    }
  }
}
