@import 'variables';

.member-wrapper {
	width: 95%;
	margin: 0 auto;
  margin-top: 20px;
	position: relative;

  // Google Nexus 7
	@media only screen
  and (min-width: 421px)
  and (max-width: 799px) {
    width: 100%;
  }

  @media screen and (max-width: 1280px) {
    margin-top: 0px;
  }

  @media screen and (max-width: 1370px) {
    margin-top: 10px;
  }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    width: 100%;
    margin-top: 50px;
  }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    width: 90%;
    margin-top: 20px;
  }

  @media screen and (max-width: $iphone6) {
    width: 100%;
    margin-top: 20px;
  }
}

.member-container {
	width: 35%;
	display: inline-block;
  height: 200px;
  position: relative;

	@media screen and (max-device-width: 362px) {
    margin-top: -10px;
  }

  @media screen and (max-width: 1370px) {
    width: 35%;
    height: 190px;
    margin-top: -10px;
  }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    width: 48%;
    height: 200px;
  }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    width: 45%;
  }

  // Google Nexus 7
  @media only screen
  and (min-width: 421px)
  and (max-width: 799px) {
    width: 45%;
    height: 200px;
  }

  @media screen and (max-height: 650px) {
    height: 140px;
  }

  @media screen and (max-width: $iphone6)
  and (-webkit-min-device-pixel-ratio: 2) {
    width: 46%;
    margin-right: 2%;
    margin-left: 1%;
    height: 130px;
  }

  @media screen and (max-width: $iphone5-min) {
    width: 44%;
    margin-right: 3%;
    margin-left: 3%;
    height: 130px;
  }
}

.member-img {
  width: 65%;
  padding: 32.5% 0;

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    width: 50%;
    padding: 25% 0;
  }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    width: 40%;
    padding: 20% 0;
  }

  @media screen and (min-width: 1200px) and (max-width: 1366px) {
    width: 60%;
    padding: 30% 0;
  }

  @media screen and (min-width: 1366px) and (max-width: 1440px) {
    width: 55%;
    padding: 27.5% 0;
  }

  @media screen and (min-width: 1441px) and (max-width: 1600px) {
    width: 55%;
    padding: 27.5% 0;
  }

  @media screen and (max-height: 650px) {
    width: 40%;
    padding: 20% 0;
  }

  @media screen and (max-width: $iphone6) {
    width: 75%;
    padding: 37.5% 0;
    margin-bottom: 0;
  }
}
