@import 'variables';
@import 'globals';

.errorMsg {
	color: $red;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	position: relative;
	padding: 0;
	z-index: 2;
	@include transition(0.5s);

	@media screen and (max-width: $iphone6) {
		font-size: 1em;
		margin-top: 2vh;
	}

	&.show {
		padding: 10px;
		@include transition(0.3s);
	}
}
