@import '_variables';
@import '_transitions';

.errorMsg {
  @include transition(0.5s);
  color: $red;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
  padding: 0;
  z-index: 2;

  @media screen and (max-width: $iphone6) {
    font-size: 1em;
    margin-top: 2vh;
  }

  &.show {
    @include transition(0.3s);
    padding: 10px;
  }
}
