@import 'variables';

// BEM & OOCSS
body {
  margin: 0 auto;
  overflow-x: hidden;
  min-height: 100%!important;
  height: 100%;
  width: 100%;
  font-family: 'Dosis', 'Helvetica Neue';
  background-color: $light-white;
  font-size: 100%;
  font-size: 13px;
  line-height: 1.5;
}

a {
  color: $dark-orange;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;

  li {
    line-height: 1.5;
  }
}

// General classes / elements
.hide {
  display: none!important;
}

.hidden {
  visibility: hidden!important;
}

.uppercase {
  text-transform: uppercase;
}

button, input {
  -webkit-focus-ring-color: none;
  outline: none;
}

.line-seperator {
  margin: 0 auto;
  margin-top: 30px;
  width: 2px;
  height: 20vh;
  max-height: 230px;

  @media screen and (max-width: $iphone6) {
    max-height: 180px;
    margin-top: 20px;
  }

  @media screen and (max-width: 1280px) {
    max-height: 80px;
    height: 15vh;
    margin-top: 20px;
  }

  &:before {
    content: '';
    width: 2px;
    height: 100%;
    background-color: $black;
    position: relative;
    top: 0;
    display: inline-block;
  }

  &:after {
    position: relative;
    content: '\0276E';
    display: block;
    transform: rotate(-90deg);
    font-weight: normal;
    font-family: 'Helvetica';
    font-size: 16px;
  }
}

.line-seperator--small {
  height: 15vh;
}

@mixin transition($time) {
  -webkit-transition:all $time ease-in;
  -moz-transition:all $time ease-in;
  -ms-transition:all $time ease-in;
  -o-transition:all $time ease-in;
  transition:all $time ease-in;
}

@mixin fade($time) {
  -webkit-transition:opacity $time ease-in;
  -moz-transition:opacity $time ease-in;
  -ms-transition:opacity $time ease-in;
  -o-transition:opacity $time ease-in;
  transition:opacity $time ease-in;
}

#left-blur, #right-blur {
  @include transition(0.5s);
  z-index: 1;
  position: fixed;
  background-color: $light-white;
  opacity: 0.6;
  top: 0; bottom: 0;
  width: 20%;

  &.darken {
    @include transition(0.5s);
    background-color: $dark-orange-light;
  }
}

#left-blur { left: -10px; }
#right-blur { right: -10px; }

.wrapper {
  height: auto;
  width: 100%;
}

.block {
  @include transition(1s);
  position: relative;
  top: 0;
  display: inline-block;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.three {
  margin-top: 10%;
}

.block--margin {
  margin-top: 20px;
}

.disappear {
  @include transition(1s);
  top: -98vh;
}

.second-wrapper {
  @include transition(1s);
  z-index: 1;
  position: relative;
  top: 0;
  height: 195.5vh;
  opacity: 0.5;

  &.move-up {
    @include transition(1s);
    opacity: 1;
  }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    top: -12vh;
  }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    top: -3vh;
  }
}

.page-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 88.1vh;
  width: 100%;
  padding-top: 6%;
  text-align: center;

  @media screen and (max-width: $iphone6) {
    min-height: 60vh;
    padding-top: 14%;
  }

  @media screen and (max-width: $iphone5-min) {
    padding-top: 18%;
  }

  @media screen
  and (min-width: 421px)
  and (max-width: 799px) {
    padding-top: 15%;
  }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    padding-top: 10%;
  }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    padding-top: 8%;
  }
}

.senator-block {
  height: auto;
  padding-bottom: 50px;
}

.page-introduction {
  flex: 1;
  align-self: center;
  width: 70%;
  margin-bottom: 5%;
  font-weight: bold;
  font-size: 1.8em;
  line-height: 1.8;

  @media screen
  and (min-width: 1000px)
  and (max-width: 1099px){
    margin-bottom: 2%;
    font-size: 1.4em;

    @supports (overflow:-webkit-marquee)
    and (justify-content:inherit) {
      margin-bottom: 1%;
    }

    @media screen and (min-width:0\0) {
      margin-bottom: 11%;
    }
  }

  @media screen
  and (min-width: 1100px)
  and (max-width: 1338px) {
    margin-bottom: 1%;
    font-size: 1.4em;

    @media screen and (min-width:0\0) {
      margin-bottom: 11%;
    }
  }

  @media screen
  and (min-width: 1339px)
  and (max-width: 1500px) {
    margin-bottom: 2%;
    font-size: 1.4em;

    @media screen and (min-width:0\0) {
      margin-bottom: 11%;
    }
  }

  @media screen
  and (min-width: 1501px) {
    margin-bottom: 1%;

    @media screen and (min-width:0\0) {
      margin-bottom: 10%;
    }
  }

  @media screen and (max-width: $iphone6) {
    margin-bottom: 1vh;
    width: 85%;
    padding-bottom: 10%;
    font-size: 1.2em;
  }

  @media screen and (max-width: 361px) {
    font-size: 15px;
  }

  @media screen and (max-device-width: 413px) {
    font-size: 15px;
  }

  @media screen and (max-width: $iphone5-min)
  and(-webkit-min-device-pixel-ratio: 2) {
    font-size: 1em;
  }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    margin-bottom: -2%;
    width: 90%;
    font-size: 1.6em;
  }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    margin-bottom: 0%;
    margin-top: 4%;
    width: 90%;
    font-size: 1.6em;
  }

  a {
    color: $black;
  }
}

.impact {
  margin: 0 auto;
  width: 70%;
  padding: 2%;
  color: $black;
  font-weight: bold;
  font-size: 1.8em;

  @media screen and (max-width: $iphone6)
  and (-webkit-min-device-pixel-ratio: 2) {
    margin-top: 0;
    height: 330px;
    width: 85%;
    padding: 2vh;
    font-size: 1.2em;
  }

  @media screen
  and (min-width: 421px)
  and (max-width: 700px) {
    width: 85%;
    font-size: 1.2em;
  }

  @media screen
  and (min-width: 701px)
  and (max-width: 900px) {
    width: 85%;
    font-size: 1.4em;
  }

  @media screen
  and (min-width: 901px)
  and (max-width: 1000px) {
    width: 80%;
    font-size: 1.5em;
  }

  @media screen
  and (min-width: 1000px)
  and (max-width: 1025px) {
    width: 85%;

    @supports (-moz-appearance:meterbar) {
      width: 75%;
    }
  }

  @media screen
  and (min-width: 1026px)
  and (max-width: 1300px) {
    width: 75%;
    font-size: 1.6em;
  }

  @media screen
  and (min-width: 1301px)
  and (max-width: 1500px) {
    width: 70%;
    font-size: 1.6em;
  }

  @media screen
  and (min-width: 1501px)
  and (max-width: 1700px){
    width: 75%;
    font-size: 1.8em;
  }

  @media screen and (max-device-width: 362px) {
    height: 305px;
    font-size: 15px;
  }

  @media screen and (max-width: $iphone5-min)
  and (-webkit-min-device-pixel-ratio: 2) {
    margin-top: 0;
    height: 235px;
    padding: 4vh;
    font-size: 1em;
  }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    width: 90%;
    padding: 2%;
    padding-bottom: 2%;
    font-size: 1.6em;
  }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    margin-top: 2%;
    width: 90%;
    padding-top: 2%;
    font-size: 1.6em;
  }
}

.light-color {
  @include transition(0.5s);
  background-color: $light-white!important;
  background-image: url('../img/white-bg.png')!important;

  #left-blur, #right-blur {
    @include transition(0.5s);
    background-color: $light-white!important;
  }
}

.peach-color{
  @include transition(0.5s);
  background-color: $dark-orange-light;
  background-image: url('../img/peach-bg.png');
}

.dark-orange-color {
  @include transition(0.5s);
  background-color: $dark-orange-light;
  background-image: url('../img/peach-bg.png');
}

.light-white {
  @include transition(0.5s);
  background-color: $light-white;
}

.section-block {
  height: 100vh;
  min-height: 100%;
  width: 100%;
}

.overlay {
  @include transition(1s);
  display: none;
  opacity: 0;
}

@media only screen
and (max-width: 736px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape)
and (min-aspect-ratio: 13/9) {
  .overlay {
    @include transition(1s);
    z-index: 99;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 45vh;
    height: 100%;
    text-align: center;
    align-self: center;
    font-size: 1.3em;
    color: $white;
    font-family: Helvetica;
    background-color: $black;
    opacity: 0.95;
  }
}
