@import 'variables';
@import 'globals';
@import '_burger';

.header {
	width: 100%;
  background-color: $light-green;
	height: 80px;
	text-align: center;
	justify-content: center;
	align-content: center;
	display: flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navigation {
  height: 100%;
  background-color: $light-yellow;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  position: fixed;
  @include transition(0.3s);

  &.is-active {
    visibility: visible;
    height: 100%;
    width: 100%;
    opacity: 1;
    @include transition(0.3s);
  }

  a {
    &:first-of-type {
      margin-top: 10%;
    }
    margin-bottom: 4%;
  }
}

.menu {
	width: 30px;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: fixed;
	height: 50px;
  z-index: 3;
	padding-top: 20px;
	font-weight: bold;

	a {
		display: inline-block;
		width: 100%;
		color: $black;
	}

  .burger-wrapper {
    width: 30px;
    height: 25px;
    z-index: 4;
    position: relative;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }

  .burger-icon {
    @include burger(30px, 3px, 5px, #222);
    pointer-events: none;
    top: 10px;

    &.is-active {
      @include burger-to-cross;
    }
  }
}
