@import 'variables';
@import 'globals';
@import '_burger';

.header {
  z-index: 11;
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
	width: 100%;
	height: 80px;
	text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.faded-bg {
  @include transition(0.5s);
  z-index: 9;
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100px;

  @media only screen
  and (max-width: $iphone6) {
    height: 60px;
    top: 6px;
  }

  @media only screen
  and (max-width: $iphone5-min) {
    height: 60px;
    top: 6px;
  }

  &.hide {
    @include transition(0.5s);
    height: 0;
  }

  &.faded-blue {
    background-color: $light-blue;
  }

  &.faded-red {
    background-color: $bright-red;
  }

  &.faded-orange {
    background-color: $light-orange;
  }

  &.faded-green {
   background-color: $light-green;
  }
}

.navigation {
  @include transition(0.3s);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  background-color: $light-yellow;
  opacity: 0;

  &.is-active {
    @include transition(0.3s);
    height: 100%;
    width: 100%;
    visibility: visible;
    opacity: 1;
  }

  a {
    width: 300px;
  }
}

.menu {
  z-index: 3;
  position: fixed;
  right: 0;
  left: 0;
  margin: 0 auto;
	width: 30px;
  width: 20%;
	height: 50px;
	padding-top: 20px;
	font-weight: bold;

  @media screen and (max-width: $iphone6) {
    padding-top: 20px;
  }

	a {
		display: block;
    margin: 0 auto;

    &:first-of-type {
      margin-top: 10%;

      @media screen
      and (min-width: 300px)
      and (max-width: 799px) {
        margin-top: 120px;
      }

      @media screen
      and (min-width: 700px)
      and (max-width: 999px) {
        margin-top: 120px;
      }

      @media screen
      and (min-width: 1000px)
      and (max-width: 1050px) {

        @supports (overflow:-webkit-marquee)
        and (justify-content:inherit) {
          margin-top: 130px;
        }
      }

      @media screen
      and (min-width: 1400px)
      and (max-width: 1500px) {
        margin-top: 9%;
      }

      @media screen and (max-width: $iphone6) {
        margin-top: 25%;
      }

      @media screen and (max-width: $iphone5-min) {
        margin-top: 90px;
      }

      @media only screen
      and (min-device-width : 414px)
      and (max-device-width : 736px)
      and (orientation : portrait)
      and (-webkit-min-device-pixel-ratio : 3)
      {
        margin-top: 90px;
      }

      @media only screen
      and (min-device-width: 768px)
      and (max-device-width: 1024px)
      and (orientation: portrait)
      and (-webkit-min-device-pixel-ratio: 1) {
        margin-top: 28%;
      }

      @media only screen
      and (min-device-width: 768px)
      and (max-device-width: 1024px)
      and (orientation: landscape)
      and (-webkit-min-device-pixel-ratio: 1) {
        margin-top: 12%;
      }
    }

    &:hover {
      .nav {
        background-color: $black;

        &.yellow-text {
          color: $light-yellow;
        }
        &.purple-text {
          color: $light-purple!important;
        }
      }
    }
	}

  .burger-wrapper {
    z-index: 4;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }

  .burger-icon {
    @include burger(30px, 3px, 5px, #222);
    top: 10px;
    pointer-events: none;

    &.is-active {
      @include burger-to-cross;
    }
  }
}
