@import 'variables';

.HFCOverview {
	width: 98%;
	height: auto;
	margin: 0 auto;
	margin-right: 1.25%;
	position: relative;
	overflow: hidden;
	top: 0;
}

.HFCMember {
	display: inline-block;
	width: 25%;
	overflow: hidden;

	@media screen and (max-width: $iphone6) {
		width: 70%;
		margin-bottom: 1vh;
	}

	.senatorImg {
		width: 50%;
		padding: 25% 0;
		margin-bottom: 0;
	}

	.senatorName {
		font-size: 0.9em;

		@media only screen 
  		and (min-device-width: 768px) 
  		and (max-device-width: 1024px) 
  		and (orientation: landscape) 
  		and (-webkit-min-device-pixel-ratio: 1) {
    		font-size: 0.8em;
  		}

  		@media only screen 
  		and (min-device-width: 768px) 
  		and (max-device-width: 1024px) 
  		and (orientation: portrait) 
  		and (-webkit-min-device-pixel-ratio: 1) {
    		font-size: 0.6em;
    		padding: 0px;
    		padding-top: 10px;
  		}
	}
}
