@import 'variables';
@import 'globals';

h1 {
  font-size: 60px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
	width: 100vw;
	height: 98.5vh;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	@include transition(1s);

	@media screen and (max-width: $iphone6) {
		height: 88vh;
	}

	@media screen and (max-width: $iphone5-min) {
		height: 86vh;
	}

	&.full {
		height: auto;
		min-height: 99vh;
		width: 99vw;
		padding-bottom: 2vh;
	}

	&.reveal {
		overflow: visible;
		width: 99.1vw;
		@include transition(1s);
	}
}
