@import 'variables';
@import 'globals';

h1 {
  font-size: 60px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
	width: 100vw;
	height: 98.5vh;
	overflow: hidden;

	&.reveal {
		overflow: visible;
		width: 99.1vw;
	}
}
