@import 'variables';
@import 'globals';

h1 {
  font-size: 60px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
	width: 100vw;
	height: 98.5vh;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	@include transition(1s);
	z-index: 1;

	@media screen and (max-width: $iphone6) {
		height: 100vh;
		 min-height: 100%!important;
	}

	@media screen and (max-width: $iphone6)
	and (-webkit-min-device-pixel-ratio: 2)
	and (device-aspect-ratio: 375/667) {
		height: 89.5vh;
	}

	@media screen and (max-width: $iphone5-min) {
		height: 99vh;
		min-height: 100%!important;
	}

	@media screen and (max-width: $iphone5-min)
	and (-webkit-min-device-pixel-ratio: 2)
	and (device-aspect-ratio: 40/71) {
		height: 86.5vh;
	}

	@media only screen 
    and (min-device-width : 414px) 
    and (max-device-width : 736px) 
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio : 3) {
      height: 89.5vh;
    }

	&.full {
		height: auto;
		min-height: 99vh;
		width: 99vw;
		padding-bottom: 2vh;
	}

	&.reveal {
		overflow: visible;
		z-index: 1;
		width: 99.1vw;
		@include transition(1s);
	}
}
