@import 'variables';

.ribbon-wrapper {
  z-index: 2;
  left: auto;
  right: auto;
  top: -35%;
  position: relative;
  margin: 0 auto;
  width: 70%;
  min-width: 220px;
  transform: rotate(-2deg);
  strong {
    font-weight: normal;
  }
}

.ribbon {
  position: relative;
  left: auto;
  right: auto;
  width: 100%;
  margin: 0 auto;
  min-width: 100%;
  padding: 0.6em 0.5em 0.8em 0.5em;
  font-size: 16px;
  text-transform: uppercase;
  background-color: $light-red;
  text-align: center;
  color: #ecf0f1;
}

.ribbon:before, .ribbon:after {
  z-index: -1;
  position: absolute;
  display: block;
  content: "";
  bottom: -0.8em;
  border: 1.5em solid darken(#B03532, 0%);
}

.ribbon:before {
  left: -2.5em;
  border-top-color: transparent;
  border-left-color: transparent;
  border-top-width: 0px;
  border-left-width: 25px;
  border-bottom-width: 50px;
  border-right-width: 40px;
}

.ribbon:after {
  right: -2.5em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-top-width: 0px;
  border-right-width: 25px;
  border-bottom-width: 50px;
  border-left-width: 40px;
}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  position: absolute;
  bottom: -0.8em;
  content: "";
  border-style: solid;
  border-color: darken(#B03532, 8%) transparent transparent transparent;
}

.ribbon .ribbon-content:before {
  left: 0;
  border-width: 0.8em 0 0 1.5em;
}

.ribbon .ribbon-content:after {
  right: 0;
  border-width: 0.8em 1.5em 0 0;
}
