@import 'variables';

.ribbon-wrapper {
  z-index: 2;
  right: auto;
  top: -35%;
  left: -1.5%;
  position: relative;
  margin: 0 auto;
  width: 70%;
  min-width: 220px;
  transform: rotate(-2deg);
  font-family: 'Helvetica Neue';

  strong {
    font-weight: 600;
  }

  @media screen and (max-width: $iphone6) {
    width: 90%;
    transform: rotate(0deg);
    min-width: 120px;
    top: -15%;
    left: 0;
  }

  @media screen and (max-width: 1024px) {
    width: 85%;
    top: -15%;
    left: 0;
  }

   @media screen and (max-width: 1170px) {
    width: 75%;
    top: -20%;
    left: 0;
  }
}

.ribbon {
  position: relative;
  left: auto;
  right: auto;
  width: 100%;
  margin: 0 auto;
  min-width: 100%;
  padding: 0.6em 0.5em 0.8em 0.5em;
  font-size: 16px;
  text-transform: uppercase;
  background-color: $light-red;
  text-align: center;
  color: #ecf0f1;

  @media screen and (max-width: $iphone6) {
    min-width: 80%;
    width: 80%;
    font-size: 10px;
    padding: 0.3em 0.3em 0.3em 0.3em;
  }

  @media screen and (max-width: 1024px) {
    width: 80%;
    min-width: 60%;
    font-size: 14px;
  }

  @media screen and (max-width: 1170px) {
    width: 80%;
    font-size: 14px;
  }
}

.ribbon:before, .ribbon:after {
  z-index: -1;
  position: absolute;
  display: block;
  content: "";
  bottom: -0.8em;
  border: 1.5em solid darken(#B03532, 0%);

  @media screen and (max-width: $iphone6) {
    border: 0.8em solid darken(#B03532, 0%);
  }
}

.ribbon:before {
  left: -2.5em;
  border-top-color: transparent;
  border-left-color: transparent;
  border-top-width: 0px;
  border-left-width: 25px;
  border-bottom-width: 50px;
  border-right-width: 40px;

  @media screen and (max-width: $iphone6) {
    left: -1.7em;
    border-left-width: 12.5px;
    border-bottom-width: 25px;
    border-right-width: 20px;
  }

  @media screen and (max-width: 1024px) {
    border-left-width: 15px;
    border-bottom-width: 40px;
    border-right-width: 30px;
    left: -1.6em;
  }

  @media screen and (max-width: 1170px) {
    border-left-width: 15px;
    border-bottom-width: 40px;
    border-right-width: 30px;
    left: -1.8em;
  }
}

.ribbon:after {
  right: -2.5em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-top-width: 0px;
  border-right-width: 25px;
  border-bottom-width: 50px;
  border-left-width: 40px;

  @media screen and (max-width: $iphone6) {
    right: -1.7em;
    border-right-width: 12.5px;
    border-bottom-width: 25px;
    border-left-width: 20px;
  }

  @media screen and (max-width: 1024px) {
    border-right-width: 15px;
    border-bottom-width: 40px;
    border-left-width: 30px;
    right: -1.6em;
  }

  @media screen and (max-width: 1170px) {
    border-right-width: 15px;
    border-bottom-width: 40px;
    border-left-width: 30px;
    right: -1.8em;
  }
}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  position: absolute;
  bottom: -0.8em;
  content: "";
  border-style: solid;
  border-color: darken(#B03532, 8%) transparent transparent transparent;
}

.ribbon .ribbon-content:before {
  left: 0;
  border-width: 0.8em 0 0 1.5em;
}

.ribbon .ribbon-content:after {
  right: 0;
  border-width: 0.8em 1.5em 0 0;
}
