@import 'variables';

input {
  z-index: 2;
  position: relative;
  margin: 2vh 0 0 0;
  width: 50%;
  max-width: 260px;
  padding: 20px;
  border: 3px solid $black;
  font-size: 1.2em;
  background-color: inherit;
  text-transform: capitalize;
  color: $black;
  font-weight: bold;
  text-align: center;
  opacity: 1;
  background-color: $light-green;
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  @media screen and (max-width: $iphone6) {
    margin-top: 3vh;
    padding: 15px;
    font-size: 0.9em;
  }

  @media screen
  and (min-width: 1000px)
  and (max-width: 1099px) {
    @media screen
    and (max-height: 530px) {
      max-width: 220px;
      padding: 16px;
    }
  }

  @media screen
  and (max-width: 361px) {
    font-size: 14px;
  }

  @media screen and (max-device-width: 413px) {
    font-size: 14px;
  }

  @media screen and (max-width: $iphone5-min) {
    width: 60%;
  }

  &.input {
    color: $black;
    border: 3px solid $black;
  }

  &.error {
    @include shakeError(0.4s);
  }

  &::-webkit-input-placeholder {
    color: $black;
  }

  &:-moz-placeholder {
    color: $black;
  }

  &::-moz-placeholder {
    color: $black;
  }

  &:-ms-input-placeholder {
    color: $black;
  }
}

.text-button {
  color: $black;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 5px;
  margin: 0 auto;
  margin-top: 30px;
  display: block;
  cursor: pointer;
  padding: 5px;
  width: 120px;
  font-weight: bold;
  position: relative;

  .border {
    width: 50%;
    height: 2px;
    margin: 0 auto;
    margin-top: 5px;
    background-color: $black;
    display: block;
  }
}
