@import 'variables';

input {
  width: 200px;
  border: 3px solid $black;
  padding: 12px;
  font-size: 14px;
  background-color: inherit;
  text-transform: uppercase;
  color: $black;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  background-color: $light-green;
  position: relative;

  &.input {
    color: $black;
    border: 3px solid $black;
  }

  &.error {
    border: 3px solid $red;
    color: $red;
  }

  &::-webkit-input-placeholder {
    color: $black;
  }

  &:-moz-placeholder {
    color: $black;
  }

  &::-moz-placeholder {
    color: $black;
  }

  &:-ms-input-placeholder {
    color: $black;
  }
}