@import 'variables';

input {
  width: 50%;
  max-width: 260px;
  border: 3px solid $black;
  padding: 20px;
  font-size: 1.2em;
  background-color: inherit;
  text-transform: capitalize;
  color: $black;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  opacity: 1;
  background-color: $light-green;
  position: relative;
  margin: 2vh 0 0 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  @media screen and (max-width: $iphone6) {
    padding: 15px;
    font-size: 0.9em;
    margin-top: 3vh;
  }

  @media screen 
  and (min-width: 1000px)
  and (max-width: 1099px) {
    @media screen
    and (max-height: 530px) {
      max-width: 220px;
      padding: 16px;
    }
  }

  &.fade {
    @include fadeIn(0.5s, 1s);
    opacity: 0;
  }

  @media screen
  and (max-width: 361px) {
    font-size: 14px;
  }

  @media screen and (max-device-width: 413px) {
    font-size: 14px;
  }

  @media screen and (max-width: $iphone5-min) {
    width: 60%;
  }

  &.input {
    color: $black;
    border: 3px solid $black;
  }

  &.error {
    @include shakeError(0.4s);
  }

  &::-webkit-input-placeholder {
    color: $black;
  }

  &:-moz-placeholder {
    color: $black;
  }

  &::-moz-placeholder {
    color: $black;
  }

  &:-ms-input-placeholder {
    color: $black;
  }
}