@import 'variables';
@import 'globals';

.senatorImg {
  z-index: 2;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 0.5vh;
  margin-top: 20px;
	width: 9%;
	height: 0;
  margin: 0 auto;
	padding: 4.5% 0;
	border-radius: 50%;
	overflow: hidden;
	opacity: 1;
  border: 8px solid $dark-red;

	@media screen and (max-width: $iphone6) {
    left: 0;
    margin-bottom: 5px;
    width: 25%;
    padding: 12.5% 0;
  }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    width: 20%;
    padding: 10% 0;
  }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    width: 12%;
    padding: 6% 0;
  }

	img {
		width: 100%;
    align-self: center;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
	}
}

.img-border {
  width: 96.5%;
  height: 96.5%;
  border: 5px solid #FFF;
  background-color: none;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  top: 0;
}
