@import 'variables';

.senatorName {
	text-transform: uppercase;
	margin: 0 auto;
	margin-top: 10px;
	position: relative;
	z-index: 2;
	padding: 15px;
	width: 20%;

	@media screen and (max-width: $iphone6) {
		padding: 10px;
	}

	h2 {
		margin: 0;
		font-size: 1.3em;

		@media screen and (max-width: $iphone6) {
    		font-size: 0.9em;
    		margin-top: 0;
  		}
	}
}
