@import 'variables';

.senatorName {
	text-transform: uppercase;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	padding: 15px;
	margin-bottom: 1vh;

	@media screen and (max-width: $iphone6) {
		padding: 10px;
	}

	a {
		color: $black;
		text-transform: capitalize;
	}

	h2 {
		margin: 0;
		font-size: 1.3em;
		font-size: 1vw;

		@media screen and (max-width: $iphone6) {
    		font-size: 1em;
    		margin-top: 0;
  		}

  		@media only screen 
  		and (min-device-width: 768px) 
  		and (max-device-width: 1024px) 
  		and (orientation: landscape) 
  		and (-webkit-min-device-pixel-ratio: 1) {
    		font-size: 1.2em;
  		}
	}
}
