@import 'variables';

.senatorWrapper {
	width: 50%;
	margin: 0 auto;

	@media screen and (max-width: $iphone6) {
		width: 90%;
	}

	@media only screen 
  	and (min-device-width: 768px) 
  	and (max-device-width: 1024px) 
  	and (orientation: portrait) 
  	and (-webkit-min-device-pixel-ratio: 1) {
    	width: 85%;
  	}

	@media only screen 
  	and (min-device-width: 768px) 
  	and (max-device-width: 1024px) 
  	and (orientation: landscape) 
  	and (-webkit-min-device-pixel-ratio: 1) {
    	width: 65%;
  	}
}

.senatorContainer {
	width: 50%;
	display: inline-block;

	@media screen and (max-width: $iphone6) {
		width: 40%;
		margin-right: 5%;
		margin-left: 5%;
	}

	.senatorImg {
		width: 40%;
		padding: 20% 0;

		@media only screen 
  		and (min-device-width: 768px) 
  		and (max-device-width: 1024px) 
  		and (orientation: portrait) 
  		and (-webkit-min-device-pixel-ratio: 1) {
    		width: 40%;
    		padding: 20% 0;
  		}

  		@media only screen 
  		and (min-device-width: 768px) 
  		and (max-device-width: 1024px) 
  		and (orientation: landscape) 
  		and (-webkit-min-device-pixel-ratio: 1) {
    		width: 40%;
    		padding: 20% 0;
  		}

		@media screen and (max-width: $iphone6) {
			width: 85%;
			padding: 42.5% 0;
			margin-bottom: 0;
		}
	}

	.senatorName {
		width: 100%;

		@media screen and (max-width: $iphone6) {
			padding: 5px;
		}

		h2 {
			font-size: 1.2em;
			margin-right: 5%;

			@media screen and (max-width: $iphone6) {
				margin-right: 5%;
				font-size: 0.8em;
			}
		}
	}
}
