@import 'variables';

.senatorWrapper {
	width: 50%;
	height: 200px;
	margin: 0 auto;
}

.senatorContainer {
	width: 50%;
	display: inline-block;
	height: 200px;

	.senatorImg {
		width: 50%;
		padding: 25% 0;
	}
}
