@import 'variables';

.senatorImg {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 100%;
	overflow: hidden;
	display: flex;
	align-content: center;
	justify-content: center;

	&.hide {
		display: none;
	}

	img {
		width: 100%;
		align-self: center;
  		-webkit-filter: grayscale(100%);
  		filter: grayscale(100%);
	}
}
