@import 'variables';
@import 'globals';

.senatorImg {
	width: 9%;
	height: 0;
	padding: 4.5% 0;
	margin: 0 auto;
	border-radius: 100%;
	overflow: hidden;
	display: flex;
	align-content: center;
	justify-content: center;
	position: relative;
	z-index: 2;
	left: 6px;
	margin-bottom: 0.5vh;
	margin-top: 20px;
	opacity: 1;
	@include transition(0.5s);

	@media screen and (max-width: $iphone6) {
    	width: 30%;
    	padding: 15% 0;
    	margin-bottom: 5px;
  	}

    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1) {
      width: 20%;
      padding: 10% 0;
    }

    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1) {
      width: 14%;
      padding: 7% 0;
    }

	&.hide {
		display: none;
		opacity: 0;
		@include transition(0.5s);
	}

	img {
		width: 100%;
		align-self: center;
  		-webkit-filter: grayscale(100%);
  		filter: grayscale(100%);
	}
}
