@import 'variables';

.supportActions {
	position: relative;
	z-index: 10;
	width: auto;
	margin: 0 auto;

	a {
		margin: 0 25px 0 25px;
		position: relative;

		@media only screen and (max-width: $iphone6) {

			&:last-of-type {
				margin: 0 0 0 25px;
			}
		}
	}
}
