@import 'variables';

.supportActions {
	position: relative;
	z-index: 10;
	width: 100%;
	margin: 0 auto;

	a {
		margin: 0 25px 0 25px;
		position: relative;

		@media only screen and (max-width: $iphone6) {
			margin: 0;
		}
	}

	button {
		background-color: $light-purple;
	}
}
