@import 'variables';

.text-button {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  letter-spacing: 1px;
  padding-bottom: 5px;
  cursor: pointer;
  padding: 5px;
  width: 140px;
  color: $black;
  text-transform: uppercase;
  font-weight: 600;
}

.text-button-border {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  width: 50%;
  height: 2px;
  background-color: $black;
}
