@import 'variables';
@import 'globals';

.text-button {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  letter-spacing: 1px;
  padding-bottom: 5px;
  cursor: pointer;
  padding: 5px;
  width: 140px;
  color: $black;
  text-transform: uppercase;
  font-weight: 600;
}

.text-button--back {
  margin-top: 0;
  margin-bottom: 40px;
}

.text-button-border {
  @include transition(0.2s);
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  width: 50%;
  height: 2px;
  background-color: $black;

  @media screen and (max-width: $iphone6) {
    width: 40%;
  }
}

.text-button {
  &:hover {
    .text-button-border {
      @include transition(0.2s);
      width: 40%;
    }
  }
}
