@import 'variables';
@import 'globals';

.title-component {
  @include fadeIn(0.5s,0);
  z-index: 2;
  position: relative;
  display: inline-block;
  width: 45%;
  font-size: 32px;
  color: $dark-blue;
}

.title-component--padding {
  padding-top: 10%;
  margin-bottom: 40px;
}

.title-component--results {
  width: 40%;
  font-size: 24px;
}

.title-component--actions {
  margin-bottom: 50px;
  width: 50%;
  height: 180px;
  font-size: 24px;
}

.title-component__description {
  position: relative;
  align-self: center;
  width: 100%;
  text-align: center;
  line-height: 1.4;

  @media screen
  and (-ms-high-contrast: active)
  and (-ms-high-contrast: none) {
    margin-top: 0%;
  }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    width: 80%;
  }

  @media screen and (max-width: $iphone6) {
    width: 60%;
  }
}

.title-component__star-divider {
  margin: 2% 0 2% 0;
  width: 100%;
  height: 20px;
  font-size: 20px;
  color: $light-red;
}

.title-component__represent {
  position: relative;
  width: 100%;
  height: 45px;
}

.three-stars {
  color: $light-red;
  margin-bottom: 20px;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;

  span {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    &:nth-of-type(2) {
      font-size: 30px;
    }
  }
}

.strike-out {
  border-bottom: 2px solid $dark-blue;
}
