$blue: #0074d9;
$green: #2ecc40;
$red: #E20000;
$light-grey: #EFEFEF;
$black: #000;
$white: #FFF;
$light-green: #DDF4E0;
$light-orange: #FBE2C6;
$light-purple: #EBE6F5;
$light-blue: #D3E8F1;
$light-yellow: #F4F3CC;

$iphone6: 375px;
$ipad: 1024px;
$mac: 1600px;
