$blue: #0074d9;
$green: #2ecc40;
$red: #E20000;
$light-grey: #EFEFEF;
$dark-grey: #666;
$black: #000;
$white: #FFF;
$light-green: #DDF4E0;
$light-orange: #FBE2C6;
$light-purple: #EBE6F5;
$light-blue: #D3E8F1;
$light-yellow: #F4F3CC;
$bright-red: #FEDADA;
$bright-green: #CDF2EA;

$iphone5-min: 320px;
$iphone5-max: 568px;

//@media only screen 
//and (min-device-width : 320px) 
//and (max-device-width : 568px) { /* STYLES GO HERE */}

$iphone6: 420px;

$ipad-min: 768px;
$ipad-max: 1024px;

@mixin fadeIn($time, $delay) {
	@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	
	-webkit-animation:fadeIn ease-in $time;
  -moz-animation:fadeIn ease-in $time;
  animation:fadeIn ease-in $time;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration:$time;
  -moz-animation-duration:$time;
  animation-duration:$time;
  animation-delay: $delay;
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
}

@mixin drawIn($height) {
	@-webkit-keyframes drawIn { from { height:0; } to { height:$height; } }
	@-moz-keyframes drawIn { from { height:0; } to { height:$height; } }
	@keyframes drawIn { from { height:0; } to { height:$height; } }
	-webkit-animation:drawIn ease-in 1;
  -moz-animation:drawIn ease-in 1;
  animation:drawIn ease-in 1;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration:1.5s;
  -moz-animation-duration:1.5s;
  animation-duration:1.5s;
}

@mixin shakeError($time) {
	@-webkit-keyframes kf_shake {
    0% { -webkit-transform: translate(30px); }
    20% { -webkit-transform: translate(-30px); }
    40% { -webkit-transform: translate(15px); }
    60% { -webkit-transform: translate(-15px); }
    80% { -webkit-transform: translate(8px); }
    100% { -webkit-transform: translate(0px); }
  }
  @-moz-keyframes kf_shake {
  	0% { -moz-transform: translate(30px); }
    20% { -moz-transform: translate(-30px); }
    40% { -moz-transform: translate(15px); }
    60% { -moz-transform: translate(-15px); }
    80% { -moz-transform: translate(8px); }
    100% { -moz-transform: translate(0px); }
  }
  @-o-keyframes kf_shake {
    0% { -o-transform: translate(30px); }
    20% { -o-transform: translate(-30px); }
    40% { -o-transform: translate(15px); }
    60% { -o-transform: translate(-15px); }
    80% { -o-transform: translate(8px); }
    100% { -o-origin-transform: translate(0px); }
  }

  -webkit-animation: kf_shake 0.4s 1 linear;
  -moz-animation: kf_shake 0.4s 1 linear;
  -o-animation: kf_shake 0.4s 1 linear;
}
